<div class="col-sm-6">
    <div id="{{ include.scrollid }}" style="width:100%">
        <center>
            <h3>{{ include.title }}</h3>
        </center>
    </div>
    <div class="airbnb-embed-frame airbnbwidget" data-id="{{ include.airbnbid }}" data-view="home">
        <a href="https://www.airbnb.com/rooms/{{ include.airbnbid }}?s=51"><span>View On Airbnb</span></a>
        <a href="https://www.airbnb.com/rooms/{{ include.airbnbid }}?s=51" rel="nofollow">{{ include.title }}</a>
        <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
    </div>
</div>