<section id="flights" class="flights">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h3 style="width: 100%; text-align: center; margin-top: 20px">
                    Direct flights from Oakland, CA to Crescent City, CA
                </h3>
                <div style="width: 100%; margin-top: 20px">
                    <center>
                        <a href="https://www.contourairlines.com/en">
                            <img src="{{ '/assets/images/contourlogo.png' | relative_url }}"
                                 width="50%"
                                 class="partnericon"
                                 style="padding: 10px; background-color: #153064;">
                        </a>
                    </center>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</section>
