<section class="success" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="sectiontitle">Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <div style="width: 100%">
                    <center>
                        <h3>Quirky Works by Singh</h3>
                    </center>
                </div>
                <div style="width: 100%">
                    <center>
                        <a href="https://www.etsy.com/shop/QuirkyWorksBySingh">
                        <img src="{{ '/assets/images/etsyearrings.jpg' | relative_url }}"
                             width="50%"
                             class="partnericon"
                             style="border-radius: 50%;">
                        </a>
                    </center>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="width: 100%">
                    <center>
                        <h3>Melinda Farkas International</h3>
                    </center>
                </div>
                <div style="width: 100%">
                    <center>
                        <a href="http://www.melindafarkas.com/">
                        <img src="{{ '/assets/images/melindafarkas.png' | relative_url }}"
                             class="partnericon"
                             width="50%">
                        </a>
                    </center>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</section>