<section id="property">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="sectiontitle">The Property</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="airbnb-embed-frame" data-id="27526763" data-view="home" style="width:100%;margin:auto">
                    <a href="https://www.airbnb.com/rooms/27526763?s=51"><span>View On Airbnb</span></a>
                    <a href="https://www.airbnb.com/rooms/27526763?s=51" rel="nofollow">The Bow</a>
                    <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="airbnb-embed-frame" data-id="27115897" data-view="home" style="width:100%">
                    <a href="https://www.airbnb.com/rooms/27115897?s=51"><span>View On Airbnb</span></a>
                    <a href="https://www.airbnb.com/rooms/27115897?s=51" rel="nofollow">The Deck</a>
                    <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="airbnb-embed-frame" data-id="27115289" data-view="home" style="width:100%;margin:auto">
                    <a href="https://www.airbnb.com/rooms/27115289?s=51"><span>View On Airbnb</span></a>
                    <a href="https://www.airbnb.com/rooms/27115289?s=51" rel="nofollow">The Stern</a>
                    <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
</section>
